{% extends 'agvoybase.html.twig' %}

{% block main %}
    <h1>Nos circuits</h1>

    <table cellspacing="100" cellpadding="100">
        <thead align="center" style="margin: 0px auto;">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Pays depart</th>
                <th>Ville depart</th>
                <th>Ville arrivee</th>
                <th>Duree circuit</th>
                <th>Actions</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Suppression</th>
                    <th>Modification</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for circuit in circuits %}
            <tr>
                <td><a href="{{ path('circuit_show', { 'id': circuit.id }) }}">{{ circuit.id }}</a></td>
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.paysDepart }}</td>
                <td>{{ circuit.villeDepart }}</td>
                <td>{{ circuit.villeArrivee }}</td>
                <td align="center" style="margin: 0px auto;">{{ circuit.dureeCircuit }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('circuit_show', { 'id': circuit.id }) }}">détails</a>

                        </li>
                    </ul>
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('circuit_show', { 'id': circuit.id }) }}">Supprimer</a>
                            </li>
                        </ul>
                    </td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('circuit_show', { 'id': circuit.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>

                {% endif %}


            </tr>
        {% endfor %}

        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <br/><br/>


    {% endif %}
    
{% endblock %} {# main #}
